<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         stopOnFailure="false"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Main">
            <directory suffix=".php">./test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
